@use "@pythnetwork/component-library/theme";

.chartContainer {
  flex-grow: 1;
  flex-shrink: 0;
}

.spinner {
  align-items: center;
  color: theme.color("muted");
  display: flex;
  flex-flow: column;
  gap: theme.spacing(4);
  margin-top: theme.spacing(6);

  & svg {
    height: theme.spacing(10);
    width: theme.spacing(10);
  }
}

.root {
  background: theme.color("background", "primary");
  border-radius: theme.border-radius("2xl");
  display: flex;
  flex-flow: column;
  gap: theme.spacing(2);
  height: theme.spacing(110);
  margin-top: theme.spacing(2);
  position: relative;
  width: 100%;
}
