@use "@pythnetwork/component-library/theme";

.buttons {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-end;
}

.chartContainer {
  flex-grow: 1;
  flex-shrink: 0;
}

.root {
  display: flex;
  flex-flow: column;
  gap: theme.spacing(2);
  height: 440px;
  position: relative;
  width: 100%;
}
