@use "../theme";

.skeleton {
  border-radius: theme.border-radius("lg");
  background: theme.color("button", "disabled", "background");

  @include theme.pulse;

  .skeletonInner {
    display: inline flow-root;
    width: calc(theme.spacing(1) * var(--skeleton-width));

    .skeletonLabel {
      @include theme.sr-only;
    }
  }

  &[data-round] {
    border-radius: theme.border-radius("full");
    display: inline-block;
    width: calc(theme.spacing(1) * var(--skeleton-width));
    height: calc(theme.spacing(1) * var(--skeleton-width));

    .skeletonInner {
      width: 100%;
      height: 100%;
    }
  }

  &[data-fill] {
    .skeletonInner {
      width: 100%;
    }

    &[data-round] {
      width: 100%;
      height: 100%;

      .skeletonInner {
        height: 100%;
      }
    }
  }
}
