@use "../theme";

.skeleton {
  border-radius: theme.border-radius("lg");
  background: theme.color("button", "disabled", "background");

  @include theme.pulse;

  .skeletonInner {
    display: inline flow-root;
    width: calc(theme.spacing(1) * var(--skeleton-width));

    .skeletonLabel {
      @include theme.sr-only;
    }
  }
}
