@use "@pythnetwork/component-library/theme";

.preview {
  display: flex;
  flex-direction: column;
  gap: theme.spacing(20);
  background-color: var(--color-fd-background);
}

.sectionHero {
  position: relative;
  border-bottom: 1px solid theme.color("border");
  background: linear-gradient(
    180deg,
    theme.color("background", "primary") 0%,
    color-mix(in srgb, theme.color("background", "secondary") 70%, transparent)
      100%
  );
}

.sectionHeroContent {
  display: flex;
  flex-direction: column;
  gap: theme.spacing(10);
  padding-top: theme.spacing(18);
  padding-bottom: theme.spacing(18);

  @include theme.max-width;

  @include theme.breakpoint("lg") {
    flex-direction: row;
    align-items: flex-start;
    gap: theme.spacing(18);
  }
}

.heroCopy {
  display: flex;
  flex-direction: column;
  gap: theme.spacing(6);
  flex: 1;
  max-width: 34rem;
  color: theme.color("foreground");

  @include theme.breakpoint("lg") {
    max-width: 28rem;
  }
}

.heroTitle {
  @include theme.text("5xl", "semibold");

  line-height: 115%;
  letter-spacing: theme.letter-spacing("tight");
  color: theme.color("heading");
  margin: 0;
}

.heroSubtitle {
  @include theme.text("2xl", "normal");

  line-height: 140%;
  color: theme.color("paragraph");
  margin: 0;
}

.sectionProducts {
  @include theme.max-width;
}

.sectionHeaderTitle {
  @include theme.text("3xl", "medium");

  color: theme.color("heading");
  margin-bottom: theme.spacing(2);
}

.sectionHeaderSubtitle {
  @include theme.text("xl", "normal");

  color: light-dark(
    theme.pallette-color("stone", 500),
    theme.pallette-color("steel", 400)
  );
  margin-top: theme.spacing(4);
  margin-bottom: theme.spacing(12);
}

.productsGrid {
  display: grid;
  gap: theme.spacing(8);

  @include theme.breakpoint("lg") {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.productsCardWrapper {
  position: relative;
}

.gradientDivider {
  height: 12px;
  background: linear-gradient(90deg, var(--color-fd-ring) 0%, #ffad81 100%);
}
