@use "@pythnetwork/component-library/theme";

.preview {
  display: flex;
  flex-direction: column;
  gap: theme.spacing(20);
  background-color: var(--color-fd-background);
}

.sectionHero {
  border-bottom: 1px solid var(--color-fd-border);
  background: var(--color-fd-card);
}




.sectionHeroContent {
  display: flex;
  flex-direction: column;
  gap: theme.spacing(4);
  padding-top: theme.spacing(18);
  padding-bottom: theme.spacing(18);


  @include theme.breakpoint("lg") {
    flex-direction: row;
    align-items: flex-start;
    gap: theme.spacing(18);
  }
}

.heroCopy {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 34rem;
  color: var(--color-fd-foreground);

  @include theme.breakpoint("lg") {
    max-width: 28rem;
  }
}

.heroTitle {
  @include theme.text("5xl", "semibold");

  line-height: 115%;
  letter-spacing: theme.letter-spacing("tight");
  margin: 0;
}

.heroSubtitle {
  @include theme.text("2xl", "normal");
  line-height: 140%;
  opacity: 0.7;
  margin: 0;
}

.sectionProducts {
  @include theme.max-width;
}

.sectionHeaderTitle {
  @include theme.text("3xl", "medium");

  color: theme.color("heading");
  margin-bottom: theme.spacing(2);
}

.sectionHeaderSubtitle {
  @include theme.text("xl", "normal");
  opacity: 0.7;
}

.productsGrid {
  display: grid;
  gap: theme.spacing(8);

  @include theme.breakpoint("lg") {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.productsCardWrapper {
  position: relative;
}

.gradientDivider {
  height: 12px;
  background: linear-gradient(90deg, var(--color-fd-ring) 0%, #ffad81 100%);
}
