@use "@pythnetwork/component-library/theme";

.landing {
  @include theme.max-width;

  padding: 2rem 1rem;

  @media (width >= 768px) {
    padding: 3rem 1.5rem;
  }
}

.cards {
  display: flex;
  gap: theme.spacing(10);
  flex-direction: column;
  @include theme.breakpoint("md") {
    flex-direction: row;
  }
}
