@use "@pythnetwork/component-library/theme";

.landing {
  padding: theme.spacing(4) theme.spacing(2);

  @include theme.max-width;

  @include theme.breakpoint("md") {
    padding: theme.spacing(6) theme.spacing(3);
  }
}

.cards {
  display: flex;
  gap: theme.spacing(10);
  flex-direction: column;

  @include theme.breakpoint("md") {
    flex-direction: row;
  }
}
