@use "@pythnetwork/component-library/theme";

.sectionCard {
  display: flex;
  flex-direction: column;
  gap: theme.spacing(2);
  padding: theme.spacing(6);
  border: 1px solid theme.color("border");
  border-radius: theme.border-radius("2xl");
  background-color: theme.color("background", "secondary");
  flex: 1;

  .sectionCardHeader {
    display: flex;
    flex-direction: row;
    gap: theme.spacing(2);
    align-items: flex-end;
    justify-content: space-between;

    .sectionCardTitle {
      @include theme.text("lg", "medium");
    }
  }

  .sectionCardDescription {
    line-height: 140%;
    color: light-dark(
      theme.pallette-color("stone", 500),
      theme.pallette-color("steel", 400)
    );
  }

  .sectionCardUrl {
    font-weight: theme.font-weight("medium");
    text-decoration: underline;
  }
}

.sectionCards {
  display: flex;
  gap: theme.spacing(10);
  flex-direction: column;

  @include theme.breakpoint("lg") {
    flex-direction: row;
  }
}
