@use "@pythnetwork/component-library/theme";

.section {
  padding: theme.spacing(34) 0;
  padding-left: theme.spacing(20);
  padding-right: theme.spacing(20);

  .sectionContent {
    margin: 0 auto;
    width: 100%;
    max-width: theme.$max-width;
  }

  .sectionHeader {
    display: flex;
    gap: theme.spacing(2);
    align-items: center;
    justify-content: space-between;
    padding-bottom: theme.spacing(12);
  }

  .sectionHeaderTitle {
    @include theme.text("3xl", "medium");

    color: theme.color("heading");
    margin-top: 0;
    margin-bottom: theme.spacing(4);
  }

  .sectionHeaderSubtitle {
    @include theme.text("3xl", "medium");

    color: light-dark(
      theme.pallette-color("stone", 500),
      theme.pallette-color("steel", 400)
    );
  }

  &[data-highlight] {
    background-color: theme.color("background", "secondary");
  }
}
