[package]
name = "pyth-solana-receiver-cli"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.65"
base64 = "0.13.0"
shellexpand = "2.1.2"
solana-sdk = "1.10.31"
solana-client = "1.10.31"
anchor-client = "0.26.0"
clap = {version ="3.2.22", features = ["derive"]}
pyth-solana-receiver = {path = "../programs/solana-receiver"}
wormhole-core = { git = "https://github.com/guibescos/wormhole-solana"}
wormhole-solana = { git = "https://github.com/guibescos/wormhole-solana"}
