[package]
name = "pyth-solana-receiver-cli"
version = "0.1.0"
edition = "2021"

[features]
default = []
mainnet = ["wormhole-anchor-sdk/mainnet", "pyth-solana-receiver/mainnet"]
devnet = ["wormhole-anchor-sdk/solana-devnet", "pyth-solana-receiver/devnet"]


[dependencies]
anyhow = "1.0.65"
base64 = "0.13.0"
shellexpand = "2.1.2"
solana-sdk = "1.16.20"
solana-client = "1.16.20"
anchor-client = "0.28.0"
clap = {version ="3.2.22", features = ["derive"]}
pyth-solana-receiver = {path = "../programs/pyth-solana-receiver" }
wormhole-core = { git = "https://github.com/guibescos/wormhole", branch = "reisen/sdk-solana"}
wormhole-solana = { git = "https://github.com/guibescos/wormhole", branch = "reisen/sdk-solana"}
pythnet-sdk = { git = "https://github.com/pyth-network/pyth-crosschain", version = "2.0.0", features = ["strum"] }
byteorder = "1.4.3"
serde = "1.0.152"
wormhole-sdk = { git = "https://github.com/wormhole-foundation/wormhole", tag = "v2.17.1" }
serde_wormhole = { git = "https://github.com/wormhole-foundation/wormhole", tag = "v2.17.1"}
wormhole-anchor-sdk = {  version = "0.1.0-alpha.2" , default-features = false }
cfg-if = "1.0.0"
