@use "@pythnetwork/component-library/theme";

$header-height: theme.spacing(20);

:export {
  // stylelint-disable-next-line property-no-unknown
  headerHeight: $header-height;
}

.root {
  scroll-padding-top: $header-height;
  overflow-x: hidden;

  .tabRoot {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;

    .main {
      isolation: isolate;
      padding-top: theme.spacing(6);
    }

    .header {
      z-index: 1;
      height: $header-height;
    }
  }
}
