**/target
**/node_modules
**/bin
**/build
**/target
**/*artifact*
**/*cache*
**/.next

# All our TS projects are in `src` and the JS build output is in `lib`
# We should make sure that we exclude the ones that we really need in docker
**/lib

**/tsconfig.tsbuildinfo

.git

!apps/hermes/server/src/state/cache.rs
!apps/hermes/server/src/config/cache.rs
