[submodule "apps/delayed-price-pusher/examples/evm/lib/forge-std"]
	path = apps/delayed-price-pusher/examples/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "apps/delayed-price-pusher/sdk/evm/lib/forge-std"]
	path = apps/delayed-price-pusher/sdk/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
