[submodule "lazer/contracts/evm/lib/forge-std"]
	path = lazer/contracts/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lazer/contracts/evm/lib/openzeppelin-contracts-upgradeable"]
	path = lazer/contracts/evm/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "lazer/contracts/evm/lib/openzeppelin-contracts"]
	path = lazer/contracts/evm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lazer/contracts/evm/lib/createx"]
	path = lazer/contracts/evm/lib/createx
	url = https://github.com/pcaversaccio/createx
[submodule "target_chains/ethereum/sdk/stylus/pyth-mock-solidity/lib/forge-std"]
	path = target_chains/ethereum/sdk/stylus/pyth-mock-solidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "target_chains/ethereum/sdk/stylus/pyth-mock-solidity/lib/openzeppelin-foundry-upgrades"]
	path = target_chains/ethereum/sdk/stylus/pyth-mock-solidity/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "target_chains/ethereum/sdk/stylus/pyth-mock-solidity/lib/openzeppelin-contracts-upgradeable"]
	path = target_chains/ethereum/sdk/stylus/pyth-mock-solidity/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
