[submodule "target_chains/ethereum/sdk/stylus/pyth-solidity/lib/forge-std"]
	path = target_chains/ethereum/sdk/stylus/pyth-solidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "target_chains/ethereum/sdk/stylus/pyth-solidity/lib/openzeppelin-foundry-upgrades"]
	path = target_chains/ethereum/sdk/stylus/pyth-solidity/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "target_chains/ethereum/sdk/stylus/pyth-solidity/lib/openzeppelin-contracts"]
	path = target_chains/ethereum/sdk/stylus/pyth-solidity/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
