build
node_modules
.idea
.arcconfig
*.iml
bin
target
/mutagen.sh
venv
.env
bigtable-admin.json
bigtable-writer.json
.vscode
.dccache
.aptos
tsconfig.tsbuildinfo
*~
*mnemonic*
*/*.sui.log*
__pycache__
.DS_Store
.vercel
.direnv
.next
.turbo/
.cursorrules
.corepack
justfile