pnpm-lock.yaml
patches/
.turbo/

# These apps have their own prettier config that uses a later version of
# prettier
#
# TODO(cprussin): eventually I'll figure out how to upgrade prettier everywhere
# and hook it in to pre-commit.  For now, I don't want to downgrade prettier in
# the packages that are using the later version, and pre-commit doesn't support
# later versions of prettier directly.
#
# Ideally, we should probably hook up a pre-commit script to run auto-fixes in a
# generic way that packages can hook into by defining lifecycle scripts, or by
# using the nx task graph.  Then, packages can use their own formatters /
# formatter versions and can also hook up other auto-fixes like eslint, etc.
#
# I'll explore doing this when I get around to spending some time on our nx
# build graph config.
apps/api-reference
apps/staking
apps/insights
governance/pyth_staking_sdk
packages/*
