pnpm-lock.yaml
patches/
.turbo/
target_chains/sui/vendor/
lazer/contracts/evm/lib/

# This should stay in sync with the list of workspaces from
# `pnpm-workspace.yaml`
apps/*
packages/*
apps/hermes/client/js
governance/xc_admin/packages/*
governance/pyth_staking_sdk
price_service/sdk/js
price_service/client/js
pythnet/message_buffer
target_chains/aptos/cli
target_chains/aptos/sdk/js
target_chains/cosmwasm/tools
target_chains/cosmwasm/deploy-scripts
target_chains/ethereum/contracts
target_chains/ethereum/abi_generator
target_chains/ethereum/entropy_sdk/solidity
target_chains/ethereum/sdk/js
target_chains/ethereum/sdk/solidity
target_chains/ethereum/sdk/stylus/pyth-mock-solidity
target_chains/ethereum/examples/coin_flip/app
target_chains/fuel/sdk/js
target_chains/starknet/sdk/js
target_chains/sui/sdk/js
target_chains/sui/sdk/js-iota
target_chains/sui/cli
target_chains/sui/cli-iota
target_chains/solana/sdk/js/solana_utils
target_chains/solana/sdk/js/pyth_solana_receiver
target_chains/ton/contracts
target_chains/ton/sdk/js
contract_manager
lazer/contracts/solana
lazer/sdk/js
