@use "@pythnetwork/component-library/theme";

.comingSoonList {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  .searchBar {
    width: 100%;
    padding: theme.spacing(3);
    display: flex;
    flex-flow: row nowrap;
    gap: theme.spacing(3);
    flex: none;
  }

  .priceFeeds {
    overflow: auto;
    flex-grow: 1;
  }
}
