@use "@pythnetwork/component-library/theme";

.price {
  transition: color 100ms linear;

  &[data-direction="up"] {
    color: theme.color("states", "success", "normal");
  }

  &[data-direction="down"] {
    color: theme.color("states", "error", "normal");
  }
}
