[package]
name = "remote-executor"
version = "0.1.0"
description = "Created with Anchor"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "remote_executor"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
default = ["pythnet"]
# These features determine the network for deployment:
# - Use `pythnet` for deploying on Pythnet
# - Use `pythtest` for deploying on Pythtest
# - Use `eclipse_devnet` for deploying on Eclipse Devnet
# etc...
pythnet = []
pythtest = []
eclipse_devnet = []
eclipse_testnet = []
eclipse_mainnet = []
mantis_testnet = []
sonic_devnet = []
sonic_testnet = []
atlas_testnet = []
mantis_mainnet = []
sonic_mainnet = []


[dependencies]
anchor-lang = {version = "0.30.1", features = ["init-if-needed"]}
wormhole-solana = { git = "https://github.com/guibescos/wormhole-solana", rev="f14b3b54c1e37e1aaf8c2ac2a5e236832ffdb3c2"}
wormhole-sdk = { git = "https://github.com/wormhole-foundation/wormhole", tag = "v2.17.1" }
serde_wormhole = { git = "https://github.com/wormhole-foundation/wormhole", tag = "v2.17.1"}
boolinator = "2.4.0"

[dev-dependencies]

solana-program-test = "1.10.31"
tokio = "1.14.1"
solana-sdk = "1.10.31"
bincode = "1.3.3"
rand = "0.8.5"
