@use "@pythnetwork/component-library/theme";

.root {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-size: theme.font-size("2xl");
  margin: 0 auto;
  justify-content: center;
  max-width: theme.spacing(110);
  text-align: center;
}
