@use "@pythnetwork/component-library/theme";

.root {
  display: flex;
  gap: theme.spacing(2);
  flex-wrap: nowrap;
  margin-top: theme.spacing(2);
  overflow-x: auto;

  @include theme.breakpoint("sm") {
    flex-wrap: wrap;
    overflow-x: initial;
  }
}
