@use "@pythnetwork/component-library/theme";

$price-card-width: 240px;

.cardContents {
  display: flex;
  flex-flow: column;
  gap: theme.spacing(2);
  padding: theme.spacing(3);
  padding-top: 0;
}

.dataSourceName {
  align-items: center;
  display: flex;
  gap: theme.spacing(2);
  justify-content: space-between;
}

.price {
  font-weight: bold;
}

.priceChange {
  font-size: theme.font-size("xs");
}

.priceDropping {
  color: theme.color("states", "error", "base");
}

.priceInfo {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  gap: theme.spacing(2);
}

.priceIncreasing {
  color: theme.color("states", "success", "base");
}

.symbol,
.socketStatus {
  font-size: 0.8rem;
}

.socketStatus {
  color: theme.color("muted");
  font-style: italic;
}

.toggleVisibilityBtn[data-size="sm"] {
  align-items: center;
  display: inline-flex;
  padding: 0;
  height: 2em;
  justify-content: center;
  width: 2em;
}

.root {
  width: $price-card-width;
}
