@use "../theme";

.errorPage {
  display: flex;
  flex-flow: column nowrap;
  gap: theme.spacing(12);
  align-items: center;
  text-align: center;
  padding-top: theme.spacing(8);
  padding-bottom: theme.spacing(8);

  @include theme.max-width;

  @include theme.breakpoint("sm") {
    padding-top: theme.spacing(18);
    padding-bottom: theme.spacing(18);
  }

  @include theme.breakpoint("lg") {
    padding-top: theme.spacing(36);
    padding-bottom: theme.spacing(36);
  }

  .errorIcon {
    font-size: theme.spacing(14);
    height: theme.spacing(14);
    color: theme.color("states", "error", "color");

    @include theme.breakpoint("sm") {
      font-size: theme.spacing(20);
      height: theme.spacing(20);
    }
  }

  .text {
    display: flex;
    flex-flow: column nowrap;
    gap: theme.spacing(4);
    align-items: center;

    .header {
      @include theme.text("5xl", "semibold");

      color: theme.color("heading");
    }

    .subheader {
      @include theme.text("xl", "light");

      color: theme.color("heading");
    }

    .details {
      @include theme.text("sm", "normal");

      background: theme.color("background", "secondary");
      border-radius: theme.border-radius("md");
      padding: theme.spacing(4) theme.spacing(6);
      color: theme.color("paragraph");
      margin-top: theme.spacing(2);
    }
  }
}
