[package]
name = "pyth-lazer-client"
version = "14.0.0"
edition = "2021"
description = "A Rust client for Pyth Lazer"
license = "Apache-2.0"

[dependencies]
pyth-lazer-protocol = { path = "../protocol", version = "0.25.0" }
pyth-lazer-publisher-sdk = { path = "../../../publisher_sdk/rust", version = "0.25.0" }

tokio = { version = "1", features = ["full"] }
tokio-stream = "0.1.17"
tokio-tungstenite = { version = "0.20", features = ["native-tls"] }
futures-util = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
base64 = "0.22.1"
anyhow = "1.0"
tracing = "0.1"
url = { version = "2.4", features = ["serde"] }
derive_more = { version = "1.0.0", features = ["from"] }
backoff = { version = "0.4.0", features = ["futures", "tokio"] }
ttl_cache = "0.5.1"
reqwest = { version = "0.12.23", features = ["json"] }
arc-swap = "1.7.1"
futures = "0.3.31"
humantime-serde = "1.1.1"
fs-err = "3.1.1"
atomicwrites = "0.4.4"
protobuf-json-mapping = "3.7.2"
serde_with = "3.15.1"
async-trait = "0.1.89"

[dev-dependencies]
bincode = "1.3.3"
ed25519-dalek = { version = "2.1.1", features = ["rand_core"] }
hex = "0.4.3"
libsecp256k1 = "0.7.1"
bs58 = "0.5.1"
alloy-primitives = "0.8.19"
tracing-subscriber = { version = "0.3.19", features = ["env-filter", "json"] }
