@use "@pythnetwork/component-library/theme";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: theme.spacing(0);
}

.container {
  display: flex;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  @include theme.breakpoint("sm") {
    flex-wrap: nowrap;
    overflow-x: visible;
  }
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 0;
}

.button {
  border-radius: 0;

  &:first-of-type {
    border-top-left-radius: theme.border-radius("md");
    border-bottom-left-radius: theme.border-radius("md");
  }

  &:last-of-type {
    border-top-right-radius: theme.border-radius("md");
    border-bottom-right-radius: theme.border-radius("md");
  }

  &:not(:last-of-type) {
    border-right: none;
  }
}

.verticalDivider {
  width: 1px;
  height: 1.5rem;
  background-color: var(--color-fd-border);
  flex-shrink: 0;
}

.horizontalDivider {
  width: 100%;
  height: 1px;
  background-color: var(--color-fd-border);
  margin-top: theme.spacing(1);
}

.icon {
  width: 0.75rem;
  height: 0.75rem;
}
