@use "@pythnetwork/component-library/theme";

.cardsGrid {
  display: grid;
  gap: theme.spacing(4);
  grid-template-columns: 1fr;

  @include theme.breakpoint("sm") {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include theme.breakpoint("lg") {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
