@use "../theme";

.statCard {
  .cardContents,
  .top {
    display: flex;
    flex-flow: column nowrap;
    gap: theme.spacing(4);
  }

  .cardContents {
    padding: theme.spacing(3);
    padding-bottom: theme.spacing(2);
    justify-content: space-between;
    height: 100%;
    width: 100%;

    .corner {
      position: absolute;
      right: theme.spacing(3);
      top: theme.spacing(3);
      display: flex;
    }

    .header,
    .dualHeader {
      color: theme.color("muted");

      @include theme.text("sm", "medium");
    }

    .header {
      text-align: left;
    }

    .dualHeader {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .stats {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      .stat {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: theme.spacing(3);
      }

      .mainStat {
        @include theme.h3;

        color: theme.color("heading");
      }

      .miniStat {
        @include theme.text("sm", "medium");
      }
    }
  }

  &[data-variant="primary"] {
    .cardContents .header {
      color: theme.color("states", "data", "normal");
    }
  }
}
