/*
Overrides for Fumadocs content. Everything after prose is MDX generated content to which we can't apply custom classes so we need to globally select and override content
*/
.prose {
  line-height: 1.5;
}

:where(.prose) :where(p, li) {
  line-height: 1.5;
}

:where(.prose) :where(h1, h2, h3, h4, h5, h6) {
  line-height: 1.2;
}

.prose p + ul,
.prose p + ol {
  margin-top: 0;
  padding-top: 0.25rem;
}

.prose p:has(+ ul),
.prose p:has(+ ol) {
  margin-bottom: 0;
}

#nd-sidebar {
  --fd-sidebar-top: var(--header-height) !important;
  position: sticky !important;
  height: calc(100vh - var(--header-height));
}

#nd-docs-layout {
  flex-direction: row !important;
  padding-inline-start: 0 !important;
}

/* Hacky fix to get the TOC to be sticky */
#nd-toc {
  top: var(--header-height) !important;
  height: max-content;
  position: sticky;
  margin-left: calc(-1 * var(--fd-toc-width));
}

#nd-toc > div {
  position: relative;
  left: var(--fd-toc-width);
}
