@use "@pythnetwork/component-library/theme";

.sectionTitle {
  display: flex;
  flex-direction: row;
  gap: theme.spacing(8);
  justify-content: space-between;
  max-height: theme.spacing(16);
  align-items: center;
}

.title {
  @include theme.text("2xl", "medium");

  color: theme.color("heading");
  margin-bottom: theme.spacing(2);
}

.subtitle {
  @include theme.text("2xl", "normal");

  opacity: 0.65;
}

.slot {
  position: relative;
  z-index: 1;
}
