@use "@pythnetwork/component-library/theme";

.chart {
  --chart-background-light: #{theme.pallette-color("white")};
  --chart-background-dark: #{theme.pallette-color("steel", 950)};
  --border-light: #{theme.pallette-color("stone", 100)};
  --border-dark: #{theme.pallette-color("steel", 900)};
  --muted-light: #{theme.pallette-color("stone", 700)};
  --muted-dark: #{theme.pallette-color("steel", 300)};
  --chart-series-primary-light: #{theme.pallette-color("violet", 500)};
  --chart-series-primary-dark: #{theme.pallette-color("violet", 400)};
  --chart-series-neutral-light: #{theme.pallette-color("stone", 500)};
  --chart-series-neutral-dark: #{theme.pallette-color("steel", 300)};
  --chart-series-muted-light: #{theme.pallette-color("violet", 100)};
  --chart-series-muted-dark: #{theme.pallette-color("violet", 950)};
}
