@use "@pythnetwork/component-library/theme";

.chart {
  --chart-background-light: #{theme.pallette-color("white")};
  --chart-background-dark: #{theme.pallette-color("steel", 950)};
  --border-light: #{theme.pallette-color("stone", 100)};
  --border-dark: #{theme.pallette-color("steel", 900)};
  --muted-light: #{theme.pallette-color("stone", 700)};
  --muted-dark: #{theme.pallette-color("steel", 300)};
  --chart-series-primary-light: #{theme.pallette-color("violet", 500)};
  --chart-series-primary-dark: #{theme.pallette-color("violet", 400)};
  --chart-series-neutral-light: #{theme.pallette-color("stone", 500)};
  --chart-series-neutral-dark: #{theme.pallette-color("steel", 300)};
  --chart-series-muted-light: #{theme.pallette-color("violet", 100)};
  --chart-series-muted-dark: #{theme.pallette-color("violet", 950)};
}

.tooltip {
  @include theme.elevation("default", 2);

  background-color: theme.color("background", "tooltip");
  border-radius: theme.border-radius("md");
  color: theme.color("tooltip");
  font-size: theme.font-size("xs");
  padding: theme.spacing(3);
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  width: theme.spacing(60);
  overflow: hidden;
}

.tooltipTable {
  color-scheme: dark;
  white-space: nowrap;
  width: 100%;

  td:last-child {
    color: theme.color("foreground");
    font-weight: theme.font-weight("medium");
    text-align: right;
    font-variant-numeric: tabular-nums;
  }

  td:first-child {
    color: theme.color("muted");
    font-weight: theme.font-weight("normal");
    text-align: left;
  }
}

:global([data-theme="dark"]) .tooltipTable {
  color-scheme: light;
}
