# Network Config
MIGRATIONS_DIR=             # ./migrations/prod-receiver
MIGRATIONS_NETWORK=         # xyz
MAINNET=

# The duration that a price feed stored in the contract is considered to be
# valid, after this duration, the price feed is stale and will be invalid.
# This value should derive from Pyth to wormhole latency, and target chain blocktime and latency.
VALID_TIME_PERIOD_SECONDS= # 60

WORMHOLE_CHAIN_NAME= # ethereum, defined in <repo-root>/governance/xc_admin/packages/xc_admin_common/src/chains.ts

CLUSTER= #mainnet/testnet The configs below are read from the cluster file

# Pyth Migrations           # Example Format. If deployed on mainnet/testnet it is available in env.cluster.{cluster}
SOLANA_CHAIN_ID=  # 0x1
SOLANA_EMITTER=   # 0xf346195ac02f37d60d4db8ffa6ef74cb1be3550047543a4a9ee9acf4d78697b0
PYTHNET_CHAIN_ID= # 0x1a
PYTHNET_EMITTER= # 0xa27839d641b07743c0cb5f68c51f8cd31d2c0762bec00dc6fcd25433ef1ab5b6
GOVERNANCE_CHAIN_ID= # 0x1
GOVERNANCE_EMITTER= # 0x63278d271099bfd491951b3e648f08b1c71631e4a53674ad43e8f9f98068c385
GOVERNANCE_INITIAL_SEQUENCE=0 # This is optional and default is 0
SINGLE_UPDATE_FEE_IN_WEI=0
