@use "@pythnetwork/component-library/theme";

.feedCardContents {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  gap: theme.spacing(6);
  justify-content: space-between;
  padding: theme.spacing(3);
}

.prices {
  align-items: center;
  color: theme.color("heading");
  display: flex;
  flex-flow: row nowrap;
  font-size: theme.font-size("base");
  font-weight: theme.font-weight("medium");
  gap: theme.spacing(2);
  justify-content: space-between;
  line-height: 1;
}
