@use "@pythnetwork/component-library/theme";

.container {
  display: flex;
  flex-direction: column;
  gap: theme.spacing(2);
}

.optionDisplay {
  @include theme.text("sm", "normal");
}

.description {
  @include theme.text("xs", "normal");

  color: theme.color("muted");
}

