@use "../src/theme.scss";

body,
:global(#storybook-root) {
  padding: 0 !important;
}

.contents {
  height: 100vh;
  width: 100vw;
  color: theme.color("foreground");
  background: theme.color("background", "primary");
  display: grid;
  place-content: center;
  isolation: isolate;

  &[data-background="secondary"] {
    background: theme.color("background", "secondary");
  }

  &[data-layout="padded"] {
    padding: theme.spacing(10);
    display: block;
    place-content: unset;
  }

  &[data-layout="fullscreen"] {
    display: block;
    place-content: unset;
  }
}
