@use "../src/theme.scss";

body,
:global(#storybook-root) {
  padding: 0 !important;
}

.contents {
  height: 100vh;
  min-width: 100vh;
  color: theme.color("foreground");
  background: theme.color("background", "primary");
  display: grid;
  place-content: center;
  isolation: isolate;

  &[data-background="secondary"] {
    background: theme.color("background", "secondary");
  }

  &[data-layout="padded"] {
    display: block;
    place-content: unset;
  }

  &[data-layout="fullscreen"] {
    display: block;
    place-content: unset;
  }
}

.storyWrapper {
  padding: theme.spacing(4);
  width: 100%;
  max-width: min(100%, 1280px); // xl breakpoint
  box-sizing: border-box;

  [data-layout="padded"] & {
    padding: theme.spacing(10);
  }

  [data-layout="fullscreen"] & {
    padding: 0;
    max-width: none;
  }
}
