@use "../src/theme.scss";

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --primary-background: #{theme.color("background", "primary")};
  --secondary-background: #{theme.color("background", "secondary")};
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}
