@use "@pythnetwork/component-library/theme";

.mermaid {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: theme.spacing(6) 0;
  overflow-x: auto;

  svg {
    max-width: 100%;
    height: auto;
  }
}
