@use "@pythnetwork/component-library/theme";

.overview {
  @include theme.max-width;

  .header {
    @include theme.h3;

    color: theme.color("heading");
    font-weight: theme.font-weight("semibold");
    margin-bottom: theme.spacing(6);
  }

  .stats {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    gap: theme.spacing(6);

    & > * {
      flex: 1 1 0px;
      width: 0;
    }

    .publishersChart,
    .priceFeedsChart {
      & svg {
        cursor: pointer;
      }
    }
  }

  .overviewMainContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: theme.spacing(40);
    align-items: center;
    padding: theme.spacing(18) 0;

    .headline {
      @include theme.text("3xl", "medium");

      color: theme.color("heading");
      line-height: 125%;
      margin-top: theme.spacing(8);
      margin-bottom: theme.spacing(4);
    }

    .message {
      @include theme.text("base", "normal");

      color: theme.color("heading");
      line-height: 150%;
    }

    .tabList {
      margin: theme.spacing(12) 0;
    }

    .buttons {
      display: flex;
      flex-flow: row nowrap;
      gap: theme.spacing(3);
    }
  }
}

html[data-theme="dark"] .lightImage {
  display: none;
}

html[data-theme="light"] .darkImage {
  display: none;
}
