@use "@pythnetwork/component-library/theme";

.publisherLayout {
  .header {
    margin-bottom: theme.spacing(4);
    display: flex;
    flex-flow: column nowrap;
    gap: theme.spacing(4);

    @include theme.max-width;

    @include theme.breakpoint("sm") {
      margin-bottom: theme.spacing(6);
      gap: theme.spacing(6);
    }

    .breadcrumbRow {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: -#{theme.spacing(2)};
    }

    .stats {
      .activeDate {
        color: theme.color("muted");
      }

      .tokens {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }

      .oisAllocation[data-is-overallocated] {
        color: theme.color("states", "error", "base");
      }
    }
  }

  .priceFeedsTabLabel {
    display: inline-flex;
    flex-flow: row nowrap;
    gap: theme.spacing(2);
    align-items: center;
  }

  .body {
    padding-top: theme.spacing(6);

    @include theme.max-width;
  }
}

.oisDrawer {
  .oisDrawerBody {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(4, max-content);
    gap: theme.spacing(4);

    .oisMeter,
    .smallOisMeter {
      grid-column: span 2 / span 2;

      .oisMeterIcon {
        font-size: theme.spacing(6);
        margin-bottom: theme.spacing(2);
      }

      .oisMeterLabel {
        color: theme.color("heading");

        @include theme.text("xl", "medium");
      }
    }

    .smallOisMeter {
      margin-top: -#{theme.spacing(12)};
      margin-bottom: -#{theme.spacing(8)};

      @include theme.breakpoint("md") {
        display: none;
      }
    }

    .oisMeter {
      margin-bottom: -#{theme.spacing(12)};
      display: none;

      @include theme.breakpoint("md") {
        display: grid;
      }
    }

    .oisInfoBox {
      grid-column: span 2 / span 2;
    }
  }

  .oisDrawerFooter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
