# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/**

# Docs
docs/

# Dotenv file
.env

dist/

# Lazer contract deployment output files
upgrade-implementation-output.json
deployment-output.json