@use "@pythnetwork/component-library/theme";

.productGrid {
  display: grid;
  gap: theme.spacing(6);
  grid-template-columns: 1fr;

  @include theme.breakpoint("lg") {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
