MESSAGE_BUFFER_PROGRAM_ID=
# absolute path to keypair
PAYER_KEYPAIR_PATH=
# 'devnet' | 'testnet' | 'mainnet-beta' |'integration' | 'pythtest-conformance' | 'pythnet' | 'localnet' | 'pythtest-crosschain';
CLUSTER=
# optional pubkey whitelist admin to set after initializing accounts
# whitelist admin will initially be set to the payer
WHITELIST_ADMIN=
INITIAL_SIZE=
