[package]
name = "pyth-lazer-protocol"
version = "0.7.2"
edition = "2021"
description = "Pyth Lazer SDK - protocol types."
license = "Apache-2.0"
repository = "https://github.com/pyth-network/pyth-crosschain"

[dependencies]
byteorder = "1.5.0"
anyhow = "1.0.89"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0"
derive_more = { version = "1.0.0", features = ["from"] }
itertools = "0.13.0"
rust_decimal = "1.36.0"
base64 = "0.22.1"
protobuf = "3.7.2"

[dev-dependencies]
bincode = "1.3.3"
ed25519-dalek = { version = "2.1.1", features = ["rand_core"] }
hex = "0.4.3"
libsecp256k1 = "0.7.1"
bs58 = "0.5.1"
alloy-primitives = "0.8.19"
