[package]
name = "pyth-lazer-protocol"
version = "0.25.0"
edition = "2021"
description = "Pyth Lazer SDK - protocol types."
license = "Apache-2.0"
repository = "https://github.com/pyth-network/pyth-crosschain"

[dependencies]
byteorder = "1.5.0"
anyhow = "1.0.89"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0"
derive_more = { version = "1.0.0", features = ["from", "into"] }
itertools = "0.13.0"
rust_decimal = "1.36.0"
protobuf = "3.7.2"
humantime-serde = "1.1.1"
mry = { version = "0.13.0", features = ["serde"], optional = true }
chrono = "0.4.41"
humantime = "2.2.0"
hex = "0.4.3"
thiserror = "2.0.12"
utoipa = "5.3.1"

[dev-dependencies]
bincode = "1.3.3"
ed25519-dalek = { version = "2.1.1", features = ["rand_core"] }
hex = "0.4.3"
libsecp256k1 = "0.7.1"
bs58 = "0.5.1"
alloy-primitives = "0.8.19"
assert_float_eq = "1.1.4"
