@use "@pythnetwork/component-library/theme";

.apiTokensModalBody {
  overflow-y: auto;
  padding: theme.spacing(6);
  padding-top: 0;
}

.apiTokensForm {
  border-top: 1px solid theme.color("border");
  display: flex;
  flex-flow: column;
  gap: theme.spacing(2);
  padding-top: theme.spacing(4);
  margin-top: theme.spacing(4);
}

.apiTokensMenu {
  @include theme.breakpoint("sm") {
    width: 600px;
  }
}

.apiTokensMenuHeader {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;
  padding: theme.spacing(6);
  padding-right: theme.spacing(2);
}

.fyi {
  margin-bottom: theme.spacing(2);
}

.tooltip {
  @include theme.elevation("default", 1);

  background-color: theme.color("background", "tooltip");
  border-radius: theme.border-radius("md");
  color: theme.color("tooltip");
  min-height: 0;
  overflow-y: auto;
  padding: theme.spacing(4);
  margin-top: theme.spacing(2);
}

.modal {
  @include theme.elevation("default", 1);

  background-color: theme.color("background", "secondary");
  border-radius: theme.border-radius("md");
  left: 50%;
  max-height: 80vh;
  overflow-y: auto;
  position: fixed;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  width: 90vw;
  z-index: 10;

  @include theme.breakpoint("sm") {
    width: initial;
  }
}

.modalOverlay {
  background-color: theme.color("background", "nav-blur");
  inset: 0;
  position: fixed;
  z-index: 1;
}

.tokenInputWrapper {
  display: flex;
  flex-flow: column;
  gap: theme.spacing(1);
}
