:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: "Geist Sans", Arial, Helvetica, sans-serif;
  --font-mono: "Geist Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.appShellRoot {
  display: flex;
  flex-flow: column;
  height: 100vh;

  & > header, footer {
    flex-grow: 0;
    flex-shrink: 0;
  }

  & > main {
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
