@use "../theme";

.mainNavTabs {
  gap: theme.spacing(2);

  @include theme.row;

  @include theme.mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    border-top: 1px solid theme.color("border");
    background: theme.color("background", "primary");
  }

  .tab {
    position: relative;
    outline: none;

    @include theme.mobile {
      flex-grow: 1;
      text-align: center;
    }

    .bubble {
      position: absolute;
      inset: 0;
      border-radius: theme.border-radius("full");
      background-color: theme.color("button", "solid", "background", "normal");
      outline: 4px solid transparent;
      outline-offset: 0;
      z-index: -1;
      transition-property: background-color, outline-color;
      transition-duration: 100ms;
      transition-timing-function: linear;
    }

    &[data-focus-visible] {
      box-shadow: none;
      border-color: transparent;

      .bubble {
        outline-color: theme.color("focus-dim");
      }
    }

    &[data-selected] {
      color: theme.color("button", "solid", "foreground");
      pointer-events: none;

      &[data-selectable] {
        pointer-events: auto;

        &[data-hovered] .bubble {
          background-color: theme.color(
            "button",
            "solid",
            "background",
            "hover"
          );
        }

        &[data-pressed] .bubble {
          background-color: theme.color(
            "button",
            "solid",
            "background",
            "active"
          );
        }
      }
    }
  }
}
