@use "../theme";

.themeSwitch {
  overflow: hidden;

  .iconPath {
    position: relative;
    width: 1em;
    height: 1em;

    .iconPlaceholder,
    .iconMovement {
      width: 100%;
      height: 100%;
    }

    .iconMovement {
      offset-path: circle(theme.spacing(12) at -#{theme.spacing(12)});
      offset-rotate: auto -90deg;
      offset-anchor: left;
      position: absolute;
      top: 0;
      right: 0;
      font-size: theme.spacing(5);
    }
  }
}
