@use "@pythnetwork/component-library/theme";

.body {
  background-color: theme.color("background", "secondary");
  border-radius: theme.border-radius("2xl");
  display: flex;
  flex-flow: column;
  gap: theme.spacing(2);
  min-height: theme.spacing(80);
  padding: theme.spacing(2);
}

.suspenseLoader {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: theme.spacing(2);
  margin-top: theme.spacing(6);

  & svg {
    height: theme.spacing(10);
    width: theme.spacing(10);
  }

  @include theme.max-width;
}

.subheader {
  display: flex;
  flex-flow: column;
  gap: theme.spacing(2);
  margin-bottom: theme.spacing(4);

  & > h3,
  & > h4 {
    margin: 0;
  }

  & > h4 {
    color: theme.color("muted");
  }
}

.pythFeedsDemoPageRoot {
  @include theme.max-width;
}
