@use "@pythnetwork/component-library/theme";

.body {
  background-color: theme.color("background", "secondary");
  border-radius: theme.border-radius("2xl");
  padding: theme.spacing(2);
}

.suspenseLoader {
  @include theme.max-width;
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: theme.spacing(2);
  margin-top: theme.spacing(6);

  & svg {
    height: theme.spacing(10);
    width: theme.spacing(10);
  }
}

.subheader {
  display: flex;
  flex-flow: column;
  gap: theme.spacing(2);
  margin-bottom: theme.spacing(4);

  & > h3,
  & > h4 {
    margin: 0;
  }

  & > h4 {
    color: theme.color("muted");
  }
}

.tools {
  align-items: center;
  display: flex;
  gap: theme.spacing(2);
  justify-content: space-between;

  & > div {
    align-items: center;
    display: flex;
    gap: theme.spacing(2);
  }
}

.pythFeedsDemoPageRoot {
  @include theme.max-width;
}
