@use "@pythnetwork/component-library/theme";

.controls {
  align-items: center;
  display: flex;
}

.pythFeedsDemoPageRoot {
  @include theme.max-width;

  // this holds the infographic cards
  & > aside {}

  // this holds the chart
  & > section {}
}