@use "@pythnetwork/component-library/theme";

.body {
  padding-top: theme.spacing(4);
}

.subheader {
  border-bottom: 1px solid theme.color("border");
  display: flex;
  flex-flow: column;
  gap: theme.spacing(4);
  padding-bottom: theme.spacing(4);

  @include theme.breakpoint("sm") {
    align-items: flex-end;
    flex-flow: initial;
    justify-content: space-between;
  }

  & > div {
    &:first-child {
      display: flex;
      flex-flow: column;
      gap: theme.spacing(4);

      & > h3,
      & > h4 {
        margin: 0;
      }

      & > h4 {
        color: theme.color("muted");
      }
    }

    &:last-child {
      align-items: center;
      display: flex;
      gap: theme.spacing(2);
    }
  }
}

.pythFeedsDemoPageRoot {
  @include theme.max-width;

  // this holds the chart
  & > aside {
    margin-top: theme.spacing(2);
  }
}
