@use "@pythnetwork/component-library/theme";

@keyframes colorWheel {
  0% {
    color: #ff0000;
  }
  14% {
    color: #ff7f00;
  }
  28% {
    color: #ffff00;
  }
  42% {
    color: #00ff00;
  }
  56% {
    color: #0000ff;
  }
  70% {
    color: #4b0082;
  }
  84% {
    color: #9400d3;
  }
  100% {
    color: #ff0000;
  }
}

.main {
  @include theme.max-width;
}

.comingSoon {
  font-size: theme.font-size("xl");
  padding: theme.spacing(6);
  text-align: center;

  & > svg {
    animation: colorWheel 2s linear infinite;
    height: theme.spacing(20);
    width: auto;
  }
}
