@use "modern-normalize";
@use "../theme";

:root {
  background: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  line-height: 1;
}

html {
  padding-right: 0 !important;
}

*::selection {
  color: theme.color("selection", "foreground");
  background: theme.color("selection", "background");
}
