@use "@pythnetwork/component-library/theme";

.container {
  display: flex;
  flex-direction: column;
  gap: theme.spacing(1);
}

.label {
  @include theme.text("xs", "semibold");

  color: theme.color("heading");
}

.toggleGroup {
  align-self: flex-start;
}
