[workspace]
members = [
    "programs/*",
    "cli/"
]

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1
[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1

[workspace.dependencies]
wormhole-core-bridge-solana = {git = "https://github.com/wormhole-foundation/wormhole", branch = "wen/solana-rewrite"}
wormhole-sdk = { git = "https://github.com/wormhole-foundation/wormhole", tag = "rust-sdk-2024-01-25" }
serde_wormhole = { git = "https://github.com/wormhole-foundation/wormhole", tag = "rust-sdk-2024-01-25" }
anchor-lang = ">= 0.28.0"
