[package]
name    = "wormhole-stub"
version = "0.1.0"
authors = ["Pyth Data Association"]
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
near-sdk     = { version = "5.5.0" }

[profile.release]
codegen-units   = 1
opt-level       = "z"
lto             = true
debug           = false
panic           = "abort"
overflow-checks = true
