# Local DevNet:
SPY_SERVICE_HOST=0.0.0.0:7072

# Filters (if provided) should be valid JSON like below:
# These filters tell the spy to only retrieve messages sent from certain chains/contracts.
# See the docker-compose.<network>.yaml files in the price_service directory for the appropriate
# configuration for a testnet/mainnet pyth price_service deployment.
SPY_SERVICE_FILTERS=[{"chain_id":1,"emitter_address":"71f8dcb863d176e2c420ad6610cf687359612b6fb392e0642b0ca6b1f186aa3b"}]

# Number of seconds to sync with spy to be sure to have latest messages
READINESS_SPY_SYNC_TIME_SECONDS=60
READINESS_NUM_LOADED_SYMBOLS=5

WS_PORT=6200
REST_PORT=4200
PROM_PORT=8081

# The default is to log with level info.
#LOG_LEVEL=debug

REMOVE_EXPIRED_VALUES_INTERVAL_SECONDS=60
CACHE_TTL_SECONDS=300
