[package]
name = "pyth-lazer-publisher-sdk"
version = "0.25.0"
edition = "2021"
description = "Pyth Lazer Publisher SDK types."
license = "Apache-2.0"
repository = "https://github.com/pyth-network/pyth-crosschain"

[dependencies]
pyth-lazer-protocol = { version = "0.25.0", path = "../../sdk/rust/protocol" }
anyhow = "1.0.98"
protobuf = "3.7.2"
serde_json = "1.0.140"

[build-dependencies]
fs-err = "3.1.0"
protobuf-codegen = "3.7.2"
