@use "../theme";

.card {
  flex-direction: column;
  gap: theme.spacing(2);
  background-color: theme.color("background", "secondary");
  border-radius: theme.border-radius("2xl");
  padding: theme.spacing(1);
}
