[package]
name = "pyth-lazer-solana-contract"
version = "0.2.0"
edition = "2021"
description = "Pyth Lazer Solana contract and SDK."
license = "Apache-2.0"
repository = "https://github.com/pyth-network/pyth-crosschain"

[lib]
crate-type = ["cdylib", "lib"]
name = "pyth_lazer_solana_contract"

[features]
default = []
cpi = ["no-entrypoint"]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
idl-build = ["anchor-lang/idl-build"]

[dependencies]
pyth-lazer-protocol = "0.1.2"

anchor-lang = "0.30.1"
bytemuck = "1.20.0"
byteorder = "1.5.0"
thiserror = "2.0.3"

[dev-dependencies]
hex = "0.4.3"
solana-program-test = "1.18.26"
solana-sdk = "1.18.26"
tokio = { version = "1.40.0", features = ["full"] }
