name: Test CosmWasm Contract

on:
  pull_request:
    paths:
      - target_chains/cosmwasm/**
      - wormhole_attester/sdk/rust/**
  push:
    branches:
      - main
    paths:
      - target_chains/cosmwasm/**
      - wormhole_attester/sdk/rust/**

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: target_chains/cosmwasm/contracts/pyth
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
