name: Check Fortuna

on:
  pull_request:
    paths:
      - .github/workflows/ci-fortuna.yml
      - apps/fortuna/**
  push:
    branches: [main]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "apps/fortuna -> target"
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.82.0
          override: true
      - name: Run executor tests
        run: cargo test --manifest-path ./apps/fortuna/Cargo.toml
