name: "Lazer Cardano contract test"
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - lazer/contracts/cardano/**
      - .github/workflows/ci-lazer-cardano-contract.yml

jobs:
  lazer-cardano-contract-test:
    name: Lazer Cardano contract test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: lazer/contracts/cardano/
    steps:
      - uses: actions/checkout@v4
      - uses: aiken-lang/setup-aiken@v1
        with:
          version: v1.1.21
      - run: aiken fmt --check
      - run: aiken check -D
      - run: aiken build
