name: Pre-commit checks

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # Need to grab the history of the PR
          fetch-depth: 0
      - uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2023-03-01
          components: rustfmt, clippy
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2023-07-23
          components: rustfmt, clippy
      - uses: actions/checkout@v4
      - name: Install poetry
        run: python3 -m pip install poetry
      - uses: actions/setup-python@v2
        with:
          python-version: "3.11"
          cache: "poetry"
      - uses: pre-commit/action@v3.0.0
        if: ${{ github.event_name == 'pull_request' }}
        with:
          # Run only on files changed in the PR
          extra_args: --from-ref ${{ github.event.pull_request.base.sha }} --to-ref ${{ github.event.pull_request.head.sha }}
      - uses: pre-commit/action@v3.0.0
        if: ${{ github.event_name != 'pull_request' }}
