name: Check Remote Executor

on:
  pull_request:
    paths: [governance/remote_executor/**]
  push:
    branches: [main]
    paths: [governance/remote_executor/**]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.73.0
          components: rustfmt, clippy
          override: true
      - name: Install Solana
        run: |
          sh -c "$(curl -sSfL https://release.solana.com/v1.18.23/install)"
          echo "/home/runner/.local/share/solana/install/active_release/bin" >> $GITHUB_PATH
      - name: Run executor tests
        run: cargo test-bpf --manifest-path ./governance/remote_executor/Cargo.toml
