on:
  pull_request:
    paths:
      - .github/workflows/ci-sui-contract.yml
      - target_chains/sui/contracts/**
  push:
    branches:
      - main

name: Sui Contracts

jobs:
  sui-tests:
    name: Sui tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: target_chains/sui/contracts/
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "target_chains/sui/contracts -> target"

      - name: Update rust
        run: rustup update stable

      - name: Install Sui CLI
        run: cargo install --locked --git https://github.com/MystenLabs/sui.git --rev 041c5f2bae2fe52079e44b70514333532d69f4e6 sui

      - name: Run tests
        run: sui move test
