name: JS/TS checks
on:
  pull_request:
    paths:
      - "**.tsx?"
      - "**.jsx?"
      - "**.json"
      - "**.sol"
      - "**/package.json"
      - "**/package-lock.json"
      - "**/tsconfig.json"
  push:
    branches: [main]
    paths:
      - "**.tsx?"
      - "**.jsx?"
      - "**.json"
      - "**.sol"
      - "**/package.json"
      - "**/package-lock.json"
      - "**/tsconfig.json"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: "args: [--frozen-lockfile]"
      - name: Build
        run: pnpm exec lerna run build
      - name: Test
        run: pnpm exec lerna run test
      - name: Lint
        run: pnpm exec lerna run lint
      - name: Generate ABIs
        run: pnpm exec lerna run generate-abi
      - name: Check ABIs
        run: pnpm exec lerna run check-abi
