name: Publish Rust package pyth-lazer-publisher-sdk to crates.io

on:
  push:
    tags:
      - rust-pyth-lazer-publisher-sdk-v*
jobs:
  publish-pyth-lazer-publisher-sdk:
    name: Publish Rust package pyth-lazer-publisher-sdk to crates.io
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - run: cargo publish --token ${CARGO_REGISTRY_TOKEN}
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        working-directory: "lazer/publisher_sdk/rust"
