name: Publish Pyth JS packages

on:
  release:
    types:
      - created
jobs:
  publish-js:
    name: Publish Javascript Packages to NPM
    if: ${{ startsWith(github.ref, 'refs/tags/pyth-js-v') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npx lerna publish from-package --no-private --no-git-tag-version --yes
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
