name: Publish Rust package pyth-lazer-agent to crates.io

on:
  push:
    tags:
      - pyth-lazer-agent-v*
jobs:
  publish-pyth-lazer-agent:
    name: Publish Rust package pyth-lazer-agent to crates.io
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - run: cargo publish --token ${CARGO_REGISTRY_TOKEN}
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        working-directory: "apps/pyth-lazer-agent"
