name: Pyth CosmWasm Contract

on:
  pull_request:
    paths:
      - target-chains/cosmwasm/**
      - third_party/pyth/p2w-sdk/rust/**
  push:
    branches:
      - main
    paths:
      - target-chainscosmwasm/**
      - third_party/pyth/p2w-sdk/rust/**

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: target-chains/cosmwasm/contracts/pyth
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
