# Ignore Rust build artifacts
/target

# Ignore Protobuf build artifacts
src/network/p2p.pb.go
src/network/p2p.proto
tools/

# Ignore Wormhole cloned repo
# (Legacy -- we no longer clone the Wormhole repo, the proto files are included in this project under `proto/vendor`.)
/target/**/wormhole*/
